{
  "extends": "airbnb-base",
  "rules": {
    // Permitir el uso de _id
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],

    // Permitir console.log
    "no-console": "off",

    // Configuración de saltos de línea (linebreaks)
    "linebreak-style": ["error", "unix"] // o "windows" según tu sistema
  }
}
